<?xml version="1.0"?>
<launch>
	<!-- Launch file for DOBMPC Figure-8 trajectory -->
	<node pkg="bluerov2_dobmpc" type="bluerov2_dob_node" name="bluerov2_dob_node" output="screen">
        <rosparam command="load" file="$(find bluerov2_dobmpc)/config/gazebo_param_lemniscate.yaml" />
	</node>
</launch> 